 /* Including one css file into other  */
 @import "variables.css"; 

/* =================================================== */

/* Utilities */
.special {
    background-color: var(--special);
    color: var(--secondary) !important;
}

.special:hover {
    background-color: var(--special);
}

a:hover {
    color: var(--primary) !important;
}

/* Top Menu */
.btn-brochure {
    color: var(--special) !important;
    border: 1px solid var(--special);
    padding: 6px 20px !important;
}

.btn-brochure:hover {
    border: 1px solid var(--primary);
}

.btn-brochure i {
    font-size: 12px;
}

/* Social Icons */
.facebook:hover {
    color: #3b5998 !important;
}

.twitter:hover {
    color: #00acee !important;
}

.linkedin:hover {
    color: #0e76a8 !important;
}

.instagram:hover {
    color: rgba(228, 64, 95) !important;
}

.pinterest:hover {
    color: #c8232c !important;
}

.tumblr:hover {
    color: #34526f !important;
}

/* Header Menu */

.btn-logoin {
    background-color: var(--primary);
    color: var(--secondary) !important;
    border: none!important;
    width: 130px;
    padding: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.dropdown-login ul {
    padding: 5px !important;
}

